.table-container {
	margin-top: 3px;
	border-radius: $default-ui-border-radius;
	padding: 10px;
	color: $main-font-color;

	.scroll-table {
		margin-top: 10px;
		height: 50vh;

		.list-users {
			overflow-y: auto;
			background-color: #fff;
			border-radius: 8px;
			height: 100%;
		}
	}
}
