.tool-sidebar {
	background-image: linear-gradient(to right, #121212 20%, #282727);
	margin: 15px;
	border-radius: 15px;
	min-height: 96vh;
	filter: drop-shadow(-2px 5px 25px rgb(149, 149, 149));
	padding: 15px;

	.logo-sidebar {
		filter: drop-shadow(0 0 0.7px #fff);
		@include alignment-items(flex,center,center);
		border-bottom: 1px solid rgb(44, 44, 44);
		cursor: pointer;

		img {
			width: 200px;
			margin: 5px;
		}
	}
}
