@import url(https://fonts.googleapis.com/css2?family=Nunito:wght@100;200;300;400;500;600;800;900&display=swap);

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	position: relative;
}

html, body {
	font-family: 'Nunito', Arial, Helvetica, sans-serif;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
	color: inherit;
}

/* --scrollbar */
::-webkit-scrollbar-track {
  background-color: #F4F4F4;
}
::-webkit-scrollbar {
  width: 8px;
  background: #08b5ef;
}
::-webkit-scrollbar-thumb {
  background: #dad7d7;
}
