//set fonts
$font-weight-100: 100;
$font-weight-300: 300;
$font-weight-400: 400;
$font-weight-500: 500;
$font-weight-700: 700;
$font-weight-900: 900;
$font-weight-bold: bold;

//set border
$default-ui-border-radius: 8px;

//color pallete
$main-color-bg: #f5f5f3;
